$h-lv1 : 56px;
$h-lv2 : 40px;

// $h-lv1-mob:
$h-lv2-mob:28px;

$p-lv1 : 20px;
$p-lv2 : 16px;
$p-lv3 : 14px;
$p-lv4 : 12px;

$pri-color: #0e0e0f;
$sec-color: #00c795;
$footer-color :#17181A;

$light-dark-hover : rgba(225, 225, 225, 0.5);
$light-dark-background: rgba(116, 116, 116, 0.3);

$f-weight1 : 700;

$btn-padding1 : 14px 40px;
$btn-border-rad: 8px;

@mixin thin-line{
    height: 0.2px;
    border-bottom: none;
    border-right: none;
    border-left: none;
    width: 100%;
}

.padd-y-pri{
    padding: 120px 0px;
}